/bin/
/obj/

*.exe
*.dll
*.pdb
*.app
*.so
*.dylib

.vscode/
.vs/
*.user
*.suo
*.sdf
*.cache
*.dbmdl

*.log

*.tmp
*.temp

*.csproj.user

/publish/
/Debug/
/Release/

Thumbs.db

.DS_Store

.idea/

*.ncb
*.aps
*.ilk
*.iobj
*.ipdb

raylib/
raylib-cs/